.container.custom-container-width {
  max-width: 732px; 
}
  
body {
  background-image: url('http://www.csszengarden.com/031/bg_tree.gif');
  background-repeat: repeat-x;
}
  
.footer.text-center {
  background: #d9d98b;
  color: #fff;
  padding: 10px 20px;
  border-top: 1px solid #363; 
}
  
dt {
  color: #229954;
  font-family: Arial, Helvetica, sans-serif;
}
  
.designer-name {
  color: #229954;
  font-family: "Times New Roman", Times, serif;
}
  
a {
  color: #229954;
}
  
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: #797D7F;
}
  
d1 {
  line-height: 1;
  font-size: 13px;
}
  
d2 {
  font-size: 13px;
}    
  
d3 {
  font-size: 13px;
} 
  
.text-right {
  line-height: 1;
}
  
the-road-to-enlightenment {
  line-height: 1;
}
